annorepo-tools @ git+https://github.com/knaw-huc/annorepo-tools@master
peen-indexer @ git+https://github.com/knaw-huc/peen-indexer@vocab-changes
text-info @ git+https://github.com/annotation/text-info
editem-apparatus @ git+https://github.com/knaw-huc/editem-apparatus@main
